		<h1>Garages in AMS</h1>

		<table class="table col-sm-12">
			<thead>
				<tr>
					<th>Garage name</th>
					<th>Availability</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="listCtrl.garages.length == 0" class="center-text">
					<td class="text-center" colspan="2">
						<span>There are not garages in the list.</span>
					</td>
				</tr>
				<tr ng-if="listCtrl.garages.length > 0" ng-repeat="garage in listCtrl.garages">
					<td>
						<a href="#!/garage/{{garage.id}}">{{garage.name}}</a>
					</td>
					<td>
						<span ng-if="garage.available_spots > 0">available ({{garage.available_spots}})</span>
						<span ng-if="garage.available_spots == 0">unavailable ({{garage.available_spots}})</span>
					</td>
				</tr>
				<tr></tr>	
			</tbody>
		</table>
		
